@import '../../assets/styles.scss';

.Nav {
  position: sticky;
  top: 1rem;
  z-index: 1000;
  text-align: right;
  width: calc(200px - 1rem);
  display: flex;
  flex-flow: column wrap;
  justify-content: flex-start;
  align-items: flex-start;
  margin: 0 1rem 1rem 0;
  background: $base-bg;
  border-radius: 4px;
  font-size: 1.2rem;
  font-weight: 600;
  height: auto;
  border: 3px solid lighten($base-bg, 10);
  color: $other-1;

  .Nav-Item {
    display: flex;
    flex-direction: row;
    transition: all 150ms ease;
    cursor: pointer;
    width: calc(100% - 1.4rem);
    padding: 0.8rem 1rem 0.8rem 0.4rem;
    align-items: center;
    &:hover {
      background: lighten($base-bg, 10);
    }
    .nav-text {
      pointer-events: none;
      line-height: 1rem;
    }
    .nav-icon {
      pointer-events: none;
      margin-left: 0.5rem;
      margin-right: auto;
    }
  }

  @media screen and (max-width: $sm) {
    text-align: center;
    width: 100%;
    flex-flow: row nowrap;
    margin: 0 0rem 1rem 0rem;
    font-size: 1rem;

    .Nav-Item {
      width: auto;
      padding: 0.4rem;
      .nav-icon {
        margin-left: 0.3rem;
        margin-right: 0.3rem;
        svg {
          width: 16px;
          height: 16px;
        }
      }
      .nav-text {
        margin-right: 0.3rem;
        margin-bottom: 2px;
      }
    }
  }
}