@import '../../assets/styles.scss';

.Nav {
  position: sticky;
  top: 0;
  box-sizing: border-box;
  z-index: 0;
  width: 80px;
  display: flex;
  margin: 0;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: center;
  background: $darkest;
  padding: 2rem 0;
  height: 100vh;
  color: $light;

  .Nav-Item {
    display: flex;
    flex-direction: row;
    justify-content: center;
    text-align: center;
    transition: all 150ms ease;
    cursor: pointer;
    width: calc(100% - 1.4rem);
    padding: 1.5rem;
    align-items: center;
    &:hover {
      background: lighten($darkest, 10);
    }
    .nav-text {
      pointer-events: none;
      line-height: 1rem;
    }
    .nav-icon {
      pointer-events: none;
    }

    &:last-of-type {
      margin-top: auto;
    }

    &.Active {
      background: lighten($darkest, 10);
    }
  }

  @media screen and (max-width: $sm) {
    text-align: center;
    width: 100%;
    flex-flow: row nowrap;
    margin: 0 0rem 1rem 0rem;
    font-size: 1rem;

    .Nav-Item {
      width: auto;
      padding: 0.4rem;
      .nav-icon {
        margin-left: 0.3rem;
        margin-right: 0.3rem;
        svg {
          width: 16px;
          height: 16px;
        }
      }
      .nav-text {
        margin-right: 0.3rem;
        margin-bottom: 2px;
      }
    }
  }
}

.logo {
  pointer-events: none;
  height: 48px;
  width: 48px;
}
