@import '../../assets/styles.scss';

.Context {
  font-size: 0.8rem;
  position: relative;
  text-align: left;
  .current-context {
    cursor: pointer;
    display: flex;
    align-content: center;
    background-color: darken($cerulean-blue, 15);
    padding: 0.4rem;
    border-radius: 4px;
    min-width: 80px;
    .context {
      margin-right: auto;
    }
    .arrow {
      width: 1rem;
      height: 1rem;
      display: flex;
      justify-content: center;
      align-items: center;
      margin-left: 0.2rem;
      .arrow-inner {
        height: 0.3rem;
        width: 0.6rem;
        background-color: $other-1;
        clip-path: polygon(0 0, 100% 0, 50% 100%);
      }
    }
  }
  .title {
    font-size: 0.7rem;
    padding-left: 0.4rem;
  }
  .other-contexts {
    position: absolute;
    top: 1.8rem;
    .add-context {

    }
  }
}