@import '../../assets/styles.scss';

.Context {
  font-size: 0.8rem;
  position: relative;
  text-align: left;
  color: $other-1;
  .current-context {
    transition: all 150ms ease;
    cursor: pointer;
    display: flex;
    align-content: center;
    background-color: darken($cerulean-blue, 15);
    padding: 0.4rem;
    border-radius: 4px;
    min-width: 80px;
    .context {
      margin-right: auto;
    }
    .arrow {
      width: 1rem;
      height: 1rem;
      display: flex;
      justify-content: center;
      align-items: center;
      margin-left: 0.2rem;
      .arrow-inner {
        height: 0.3rem;
        width: 0.6rem;
        background-color: $other-1;
        clip-path: polygon(0 0, 100% 0, 50% 100%);
      }
    }
    &:hover {
      background-color: darken($cerulean-blue, 10);
    }
  }
  .title {
    font-size: 0.6rem;
    margin-bottom: 0.1rem;
    padding-left: 0.4rem;
    font-weight: bold;
  }
  .other-contexts {
    position: absolute;
    min-width: 120px;
    background-color: darken($cerulean-blue, 15);
    border-radius: 0 4px 4px 4px;
    .context {
      padding: 0.4rem;
      cursor: pointer;
      &:hover {
        background-color: darken($cerulean-blue, 10);
      }
    }
    .add-context {
      padding: 0 0.2rem 0.4rem 0.2rem;
      position: relative;
      label {
        font-size: 0.5rem;
        margin-left: 0.2rem;
        font-weight: bold;
      }
      input {
        outline: none;
        border: none;
        border-radius: 4px;
        padding: 0.2rem;
        width: 120px;
      }
      button {
        position: absolute;
        outline: none;
        border: none;
        background: none;
        top: 1.05rem;
        right: 0;
        color: #ddd;
        &:not(:disabled) {
          cursor: pointer;
          color: $cerulean-blue;
          &:hover {
            color: lighten($cerulean-blue, 10);
          }
        }
      }
    }
  }
}