@import '../../assets/styles.scss';

.Root {
  max-width: $max-width;
  margin: 0 auto;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  font-size: calc(10px + 1vmin);
  flex-flow: row wrap;
  width: calc(100% - 2rem);
  .displayed-segment {
    flex-grow: 1;
  }
}
