@import '../assets/styles.scss';

.App {
  text-align: center;
  background-color: $base-bg;
  color: $base-color;
}

.App-inner {
  min-height: 100vh;
  max-width: $max-width;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  font-size: calc(8px + 1vmin);
}