@import '../assets/styles.scss';

.App {
  text-align: center;
  &.Dark {
    background-color: $smoky-black;
    color: $base-color;
  }
  &.Light {
    background-color: $other-1;
    color: $base-bg;
  }
}

.App-inner {
  min-height: calc(100vh - 2rem);
  max-width: $max-width;
  margin: 0 auto;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  font-size: calc(10px + 1vmin);
}

.Theme {
  position: fixed;
  bottom: 1rem;
  right: 1rem;
  padding: 0.6rem;
  background: $dark !important;
}

button, option, select, p, caption {
  font-family: $font;
}