@import '../../assets/styles.scss';
@import '../../assets/grid.scss';

.Deposit-Form {
  margin-bottom: 2rem;
  position: sticky;
  top: 1rem;
  z-index: 1000;

  .input-border {
    width: 100%;
    height: 4px;
    background: darken($cerulean-blue, 10);
  }

  .selections {
    display: flex;
    width: calc(100% - 0.8rem);
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
    background: $cerulean-blue;
    border-radius: 0 0 4px 4px;
    padding: 0.4rem;
  }

  @media screen and(max-width: $sm) {
    top: 3.4rem;
  }
}

.deposit-form-form {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  position: relative;

  
  .deposit-input {
    font-size: 16px;
    font-weight: 600;
    border-radius: 4px 4px 0 0;
    padding: 0.4rem 0.6rem;
    margin: 0;
    width: calc(100% - 1.2rem);
  }

  .deposit-submit {
    height: calc(16px + 1rem);
    border-radius: 0 4px 0 0;
    font-size: calc(10px + 0.1vmin);
    padding: 0 1rem;
    color: $other-1;
    background: $red-orange-gradient;
    &:hover {
      box-shadow: inset 0 0 12px $gradient-red;
    }
    &:disabled {
      background: $gradient-1;
      &:hover {
        box-shadow: none;
      }
    }
    &:not(:disabled) {
      cursor: pointer;
    }
  }

  .deposit-clear {
    transition: all 150ms ease;
    right: 56px;
    padding: 0.4rem;
  }

}
