@import '../../assets/styles.scss';

.Deposit-Form-Form {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  position: relative;

  
  .Deposit-Form-Input {
    font-size: 16px;
    font-weight: 600;
    border-radius: 4px 4px 0 0;
    outline: none;
    border: none;
    box-shadow: inset 0 0 1.5rem -0.8rem $base-bg;
    padding: 0.4rem 0.6rem;
    margin: 0;
    width: calc(100% - 2rem);
  }

  .Input-Border {
    width: 100%;
    height: 4px;
    border-radius: 3px 0 3px 3px;
    background: $cerulean-blue;
  }

  .Deposit-Submit {
    transition: all 150ms ease;
    position: absolute;
    right: 0;
    top: 0;
    height: calc(16px + 1rem);
    outline: none;
    border: none;
    border-radius: 0 4px 0 0;
    text-transform: uppercase;
    font-size: calc(10px + 0.1vmin);
    font-weight: 700;
    padding: 0 1rem;
    color: $other-1;
    background-color: $cerulean-blue;
    &:hover {
      box-shadow: inset 0 0 8px lighten($base-bg, 10%);
    }
  }

  .Deposit-Clear {
    transition: all 150ms ease;
    position: absolute;
    top: 0;
    right: 56px;
    padding: 0.4rem 0.4rem;
    color: $base-bg;
    &:hover {
      color: lighten($base-bg, 10%);
    }
  }

}

.Parsed-Input {
  margin-top: 8px;
  text-align: left;
  min-height: 1.4rem;
  font-size: 1rem;
  display: flex;
  flex-direction: row;
  width: 100%;
  flex-wrap: wrap;
  
  .Place-Input {
    color: $sage;
    font-weight: 500;
    span {
      margin-left: 8px;
      font-weight: 600;
    }
  }
}