$base-bg: #17252A;
$base-color: #fffff8;
$sage: #B8C480;
$pale: #D4e79e;
$dark: #922D50;
$max-width: 960px;
$other-1: #EFEFEF;
$cerulean-blue: #3454D1;
$maximum-blue-green: #34D1Bf;
$smoky-black: #070707;
$cherry: #D1345B;