$font: 'Work Sans';
$base-bg: #17252A;
$base-color: #fffff8;
$sage: #B8C480;
$pale: #D4e79e;
$dark: #922D50;
$max-width: 1400px;
$other-1: #EFEFEF;
$cerulean-blue: #3454D1;
$maximum-blue-green: #34D1Bf;
$smoky-black: #070707;
$cherry: #D1345B;
$gradient-orange: #E79C76;
$gradient-red: #D0596D;
$gradient-1: linear-gradient(65deg, $gradient-orange, $gradient-red);

$light: #F6FDE8;
$darkest: #201e31;
$bg-1: #110C3C;
$bg-2: #3A11BD;
$bg-gradient: linear-gradient(216deg, $bg-1 0%, $bg-2 420%);
$shadow: rgba(0,0,0,0.33);
$red: #D4145A;
$orange: #FBB03B;
$red-orange-gradient: linear-gradient(120deg, $orange, $red);
