@import '../../assets/styles.scss';

.Deposit-List-Item {
  width: 100%;
  text-align: left;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 1rem 0;
  border-bottom: 3px solid darken($base-bg, 2);
  color: $other-1;

  .Deposit-Check {
    margin-right: 1rem;
  }

  .Deposit-Value {
    width: 100%;
    .Value {
      font-weight: 600;
      text-decoration-color: rgba(255,255,255,0.7);
    }
    .subitems {
      margin-top: 0.2rem;
      display: flex;
      flex-flow: row wrap;
      > div {
        font-size: 12px;
        width: auto;
        margin-right: 1rem;
      }
      .Context {
        color: $cherry; 
      }
      .Date {
        margin-left: auto;
        color: $maximum-blue-green;
      }
    }
  }
}
